.ListItemContainer {
    padding: 20px 24px;
    border-radius: 25px;
    display: flex;
}

.ListItemContainer:active {
    background-color: var(--gray);
}

.ListItemIconContainer {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

.ListItemIcon {
    height: 100%;
}

.ListItemInfo {
    margin-left: 16px;
}

.ListItemProfit {
    margin-top: 8px;
    font-size: 18px;
}
