:root {
  --black: #080816;
  --gray: #F5F7F9;
  --green: #34B428;
  --purple: #8A24F3;
  --dark-purple: #4F118F;
}

h5 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
